body {
  background-color: #2e2e2e;
}

section.projects-list {
  // background-color: black;
  // color: white;
  position: relative;
  z-index: 10;
  padding: 50px 0;
  max-width: 100vw;
  overflow-x: hidden;

  .projects-list-container {
    width: 90%;
    margin: 0 auto;
    .projects.txt-container {
      border-left: 5px solid white;
      h1 {
        font-size: 48px;
        text-transform: uppercase;
        text-align: center;
        color: #ac7aff;
        @media (max-width: 767px) {
          font-size: 35px;
        }
      }
    }
    h2 {
      // padding: 15px 15px 0;
      font-weight: 400;
      text-align: center;
      padding: 0 80px;
      color: white;
      @media (max-width: 767px) {
        padding: 0 30px;
        font-size: 17px;
      }
    }
    .list-element {
      padding: 30px;
      @media (max-width: 767px) {
        padding: 15px;
      }
      &:nth-child(odd) {
        background-color: #ac7aff;
        div {
          ul {
            li {
              color: white;
            }
          }
        }
      }
      &:nth-child(even) {
        div {
          ul {
            li {
              color: #ac7aff;
            }
          }
        }
      }
      .page-content {
        text-align: center;
        h2 {
          margin: 40px 0;
          display: inline-block;
          text-align: left !important;
        }
        div {
          ul {
            border-bottom: 1px solid lightgray;
            padding-inline-start: unset;
            // padding: 15px;
            li {
              display: flex;
              justify-content: center !important;
              // border-bottom: 1px solid white;
              // padding: 15px;

              div {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex-wrap: wrap;
              }
            }
            li:nth-child(odd) strong {
              cursor: pointer;
              font-size: 2em;
              font-size: 2em;
              font-weight: bold;
              letter-spacing: -2px;
              &::before {
                content: "⇨";
                margin-right: 20px;
                display: inline-block;
                transform: rotate(40deg);
                font-weight: 500;
                position: absolute;
                right: 15%;
                text-align: center;
                @media (max-width: 767px) {
                  margin-right: initial;
                  margin-left: 10px;
                  float: right;
                  position: static;
                }
              }
            }
            li:nth-child(odd) strong.open {
              &::before {
                transform: rotate(90deg);
              }
            }
            li:nth-child(even) {
              height: 0px;
              visibility: hidden;
              opacity: 0;
              transition-delay: 1s;
              transition: visibility 0s, opacity 0.4s linear;
            }
            li:nth-child(even).open {
              display: inline;
              height: 100%;
              visibility: visible;
              opacity: 1;
              text-decoration: none;
              span {
                font-size: 1.3em;
                line-height: 1.3em;
                font-weight: 600;
              }
            }
          }
          ul:nth-last-child(1) {
            border-bottom: none;
          }
        }
      }
    }
  }
}

.waves {
  &::before {
    content: "";
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background: linear-gradient(45deg, #2e2e2e, #2e2e2e);
    border-radius: 0% 350% 350% 0%;
    transform: scale(1.5);
  }
  &::after {
    content: "";
    position: fixed;
    bottom: 0;
    top: 0;
    right: 0;
    width: 100px;
    height: 100vh;
    z-index: 11;
    background: linear-gradient(45deg, #2e2e2e, #2e2e2e);
    border-radius: 0% 350% 350% 0%;
    transform: scale(1.5) rotate(180deg);
  }
  @media (max-width: 767px) {
    &::before {
      width: 30px;
    }
    &::after {
      width: 30px;
    }
  }
}

button {
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #e5cc63;
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.4s;
  border: 1px solid #2d2d2d;
  cursor: pointer;
  &:hover {
    background-color: white;
    color: #2e2e2e;
    border: 1px solid #e5cc63;
  }
}

form {
  display: flex;
  flex-direction: column;
}
