.Progressbar {
  background-color: #e5cc63;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 15px auto;
  color: #636363;
}
